<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.grammar.trocket.grammar">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".com.grammar.trocket.main.MainMenu"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".com.grammar.trocket.resources.ListViewActivity" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".com.grammar.trocket.resources.Festivals" android:label="Festivals" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".com.grammar.trocket.resources.Times" android:label="Times" android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".com.grammar.trocket.resources.seasons.SeasonsMain"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:label="Seasons"
            />

        <activity android:name=".com.grammar.trocket.resources.alphabet.Alphabet" android:theme="@style/AppTheme.NoActionBar" android:label="Alphabet"/>
        <activity android:name=".com.grammar.trocket.resources.alphabet.Dictionary" android:theme="@style/AppTheme.NoActionBar" android:label="Dictionary"/>
        <activity android:name=".com.grammar.trocket.resources.seasons.SeasonsFirstActivity" android:label="Seasons"/>
        <activity android:name=".com.grammar.trocket.resources.seasons.SeasonsSecondActivity" android:label="Seasons"/>
        <activity android:name=".com.grammar.trocket.resources.seasons.SeasonsThirdActivity" android:label="Seasons"/>
        <activity android:name=".com.grammar.trocket.resources.seasons.SeasonsFourthActivity" android:label="Seasons"/>
        <activity android:name=".com.grammar.trocket.exercises.text_quiz.TextQuizMainActivity" android:label=""/>
        <activity android:name=".com.grammar.trocket.exercises.text_quiz.TextQuizStatisticsActivity" android:label=""/>
        <activity android:name=".com.grammar.trocket.exercises.audio_quiz.AudioQuizMainActivity" android:label=""/>
        <activity android:name=".com.grammar.trocket.exercises.Video" android:label=""/>
        <activity android:name=".com.grammar.trocket.exercises.audio_quiz.AudioQuizStatisticsActivity" android:label=""/>
        <activity android:name=".com.grammar.trocket.resources.DaysOfTheWeek" android:theme="@style/AppTheme.NoActionBar" android:label="Days Of The Week"/>
        <activity android:name=".com.grammar.trocket.main.module_selection.ModuleSelection" android:theme="@style/AppTheme.NoActionBar" android:label="Module Selection"/>

        <activity android:name=".com.grammar.trocket.exercises.image_quiz.Image_Quiz_Main"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:label=""
            />
        <activity android:name=".com.grammar.trocket.exercises.image_quiz.Image_Quiz_Statistics" android:label=""/>
        <activity android:name=".com.grammar.trocket.exercises.multiple_quiz.Multiple_Quiz_Main_Activity" android:label=""/>
        <activity android:name=".com.grammar.trocket.exercises.multiple_quiz.Multiple_Quiz_Statistics_Activity" android:label=""/>

    </application>

</manifest>