<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grammar.trocket.grammar">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".com.grammar.trocket.main.MainMenu"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".com.grammar.trocket.resources.ListViewActivity" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".com.grammar.trocket.resources.BigView" android:theme="@style/AppTheme.NoActionBar" android:label="Item viewer" />
        <activity android:name=".com.grammar.trocket.resources.Festivals" android:label="Festivals" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".com.grammar.trocket.resources.Times" android:label="Times" android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".com.grammar.trocket.resources.seasons.SeasonsMain"
        android:theme="@style/AppTheme.NoActionBar"
        android:label="SeasonsMain"
        />

        <activity android:name=".com.grammar.trocket.resources.Alphabet"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Alphabet"
         />

        <activity android:name=".com.grammar.trocket.resources.seasons.SeasonsFirstActivity" android:label="SeasonsFirstActivity"/>
        <activity android:name=".com.grammar.trocket.resources.seasons.SeasonsSecondActivity" android:label="SeasonsSecondActivity"/>
        <activity android:name=".com.grammar.trocket.resources.seasons.SeasonsThirdActivity" android:label="SeasonsThirdActivity"/>
        <activity android:name=".com.grammar.trocket.resources.seasons.SeasonsFourthActivity" android:label="SeasonsFourthActivity"/>
        <activity android:name=".com.grammar.trocket.exercises.quiz.text_quiz.TextQuizMainActivity" android:label="TextQuizMainActivity"/>
        <activity android:name=".com.grammar.trocket.exercises.quiz.text_quiz.TextQuizStatisticsActivity" android:label="TextQuizStatisticsActivity"/>
        <activity android:name=".com.grammar.trocket.exercises.quiz.audio_quiz.AudioQuizMainActivity" android:label="TextQuizStatisticsActivity"/>
        <activity android:name=".com.grammar.trocket.exercises.quiz.audio_quiz.AudioQuizStatisticsActivity" android:label="TextQuizStatisticsActivity"/>
        <activity android:name=".com.grammar.trocket.resources.DaysOfTheWeek" android:theme="@style/AppTheme.NoActionBar" android:label="DaysOfTheWeek"/>
    </application>

</manifest>
